.recentTradesListItem {
    list-style-type: none;
    /* border: 1px solid red; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 .5rem;
    cursor: pointer;
    line-height: 2;
}
.recentTradesListItem span {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 ;
}
.recentTradesListItem span:nth-child(0) {
}
.recentTradesListItem:hover{
    background-color: #0001;
}
.recentTradesListItem span:hover{
    background-color: unset;
}
.recentTradesListItem .recentTradesListItemPrice.ask {
    color: #24AE8F;
}
.recentTradesListItem .recentTradesListItemPrice.bid {
    color: #dc5656;
}

